/*  your css code here. If applicable */
.para1{
	Font color: #00f
	Background color: #eee
	Font family: Arial
	Font size: 20px
}
para3{
	Font color: #00f
	Background color: #eee
	Font family: Arial
	Font size: 20px
}

